*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* z-index: -1; */
    background: linear-gradient(to right bottom, #e07c79, #30b2e1);
    height: 140vh;
    /* clip-path: polygon(0 0, 100% 0, 100% 30%, 0 82%); */
    /* clip-path: polygon(0 0, 100% 0, 93% 50%, 0 82%); */
    clip-path: polygon(0 0, 100% 0, 89% 34%, 0 59%);
    /* border-bottom: 1px solid rgba(206, 196, 196, 0.408); */
    border-left: 5px solid #000;
    margin-bottom: 20px;
}
.first,
.second
{
    padding: 30px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.search{
    border: 1px solid rgba(155, 153, 153, 0.938);
}
.input{
    width: 400px;
    height: 20px;
    color: red;
    padding: 15px;
    background: transparent;

}
.item{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.btn{
    color: #fff;
    background-color: rgba(211, 194, 201, 0.334);
    /* background: transparent; */
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 20px;
}
.title{
    position: absolute;
    top: 230px;
    left: 80px;
    color: rgba(2, 2, 2, 0.71);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
}
img[alt="teachers"]{
    width: 70%;
    position: absolute;
    top: 470px;
    right: 10px;
}
.learntag{
    position: absolute;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    left: 50px;
    top: 850px;
}
.programs{
    z-index: -1;
    margin-top: 50px;
    height: 950px;
    background-color: #F6F9FC;
}
.main-header{
    color: #2d23f7;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.small-header{
    color: #2d23f7;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.programs p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: rgb(40, 37, 37);
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.option{
    margin: 40px;
    background-color: #0A2540;
    padding: 10px 25px;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    font-weight: 700;
}
.option:hover{
    margin: 40px;
    background-color: #F6F9FC;
    border: 2px solid #2d23f7;
    padding: 10px 25px;
    color: #2d23f7;
    font-family: sans-serif;
    font-size: 15px;
    border: none;
    font-weight: 900;
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    box-shadow: 1px 1px 15px rgb(166, 159, 159);
    width: 350px;
    height: 370px;
}
.card img{
    padding: 20px 20px 10px 20px;
    width: 350px;
    height: auto;
}
.text{
    text-align: left;
    margin: 10px 30px 30px 40px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2d23f7;
}
.card-bottom{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: flex-start;
}
.left p{
    float: left;
    font-size: 16px;
    color: rgba(103, 85, 85, 0.804);
}
.right button{
    float: right;
    color: rgb(245, 21, 21);
    background-color: rgba(140, 134, 230, 0.279);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 20px;
}
.team{
    background-color: #0A2540;
    z-index: -1;
    height: 1250px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    margin-top: -160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle{
    margin: 0px 150px 0px 150px;
    border-left: 1px solid #dfe2e5;
    border-right: 1px solid #dfe2e5;
    height: 600px;
}
.companies{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.companies h1{
    color: #2d23f7;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 30px;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 330px;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: space-around;
    align-items: center;
}
.team h1{
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}
.border{
    height: 1200px;
    width: 1221px;
    position: absolute;
    border-left: 1px solid #dfe2e51b;
    border-right: 1px solid #dfe2e51b;
}
.cards-img{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.card-img{
    /* background-color: #D48080; */
    background-color: rgba(255, 255, 255, 0.211);
    /* box-shadow: 1px 1px 15px rgb(166, 159, 159); */
    width: 350px;
    height: 430px;
}
.card-img img{
    /* padding: 30px; */
    margin-left: 60px;
    margin-top: 30px;
    width: 230px;
    height: auto;
    background-color: rgba(208, 192, 192, 0.37);
    border-radius: 50%;
}
.text-2{
    text-align: center;
    margin: 10px 30px 30px 40px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
.card-bottom-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.up h4{
    font-size: 20px;
    color: rgb(4, 255, 17);
}
/*
.down{
    color: rgb(245, 21, 21);
    background-color: rgba(140, 134, 230, 0.279);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 20px;
} */
.institutions h1{
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 400px;
    margin-bottom: 80px;
}
.partner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1000px;
    margin-top: -350px;
    margin-left: 149px;
    margin-right: 149px;
    border-left: 1px solid #dfe2e5;
    border-right: 1px solid #dfe2e5;
}
.images-inst{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}
.image-inst{
    width: 150px;
    height: auto;
}
footer{
    margin-top: -300px;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    height: 750px;
    background-color: #F6F9FC;
}
.footer{
    padding-top: 300px;
    padding-left: 170px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 149px;
    margin-right: 149px;
    gap: 20px;
    border-left: 1px solid #dfe2e5;
    border-right: 1px solid #dfe2e5;
    height: 750px;
}
.icons img{
    width: 100px;
    height: auto;
}
.footer-first,
.footer-second,
.footer-third
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.footer-first,
.footer-second,
.footer-third{
    width: 33%;
}
.info{
    margin-top: 20px;
}
.address,
.email{
    margin-top: 20px;
    font-family: sans-serif;
}
.iso img{
    margin-top: 100px;
    width: 80px;
    height: auto;
}
.footer-second h1,
.footer-third h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-family: sans-serif;
}
.footer-second{
    padding-left: 60px;
}
.footer-third{
    padding-top: 7px;
}
.links-1,
.links-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}
.links-1 a,
.links-2 a{
    font-family: sans-serif;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 15px;
    color: #000;
}